.modalAttentionWrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: #ffffff;
  width: 280px;
  margin: 100px auto;
  box-shadow: 3px 8px 14px 0px rgba(136, 198, 253, 0.19);

  @media screen and (min-width: 768px) {
    width: 608px;
    margin: 300px auto;
    border-radius: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 440px;
  }
}

.closeModalIconWrapper {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;
  }
}

.closeModalIcon {
  width: 24px;
  height: 24px;
}

.modalTitle {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 60px;
  font-weight: 500;
  letter-spacing: 0.96px;
  font-weight: 700;
  width: 200px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    letter-spacing: -0.28px;
    margin-bottom: 40px;
    width: 608px;
  }
}

.modalText {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.56px;
  font-weight: 500;
  line-height: 1.29;
  width: 240px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    width: 393px;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.16px;
    margin-bottom: 48px;
  }
}

.logInButton {
  display: inline-block;
  width: 256px;
  height: 40px;
  text-align: center;
  color: #fef9f9;
  
  background-color: #FFC107;
  border: transparent;
  border-radius: 40px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 129px;
  }
}



.registrationButton {
  /* background-color: #54adff; */
  color: #FFC107;
  display: inline-block;
  width: 256px;
  height: 40px;
  text-align: center;
  border: 2px solid #FFC107;
  border-radius: 40px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 129px;
  }
}

/* .logInButton:hover,
.registration:hover {
  background: linear-gradient(290deg, #419ef1 0%, #9bd0ff 107.89%);
  color: #fef9f9;
  color: #fef9f9;
  border: transparent;
} */

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pawprintIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  right: 98px;
  bottom: 79px;
  stroke: #fef9f9;
  fill: #fef9f9;
}

.modalButtonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 700;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 17px;
  }
}
