/* .container {
  width: 100%;
  height: 100%;
  background: url('../../images/background/desctop/bg-desctop-2x.webp')
    no-repeat cover;
} */

.wrap {
  padding: 16px;
  background: #fef9f9;
  position: relative;
  max-width: 1280px;
  margin: auto;
}

.img {
  /* position: absolute; */
  top: 0;
  left: 0;
}

.petImg {
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  position: absolute;
  top: 25%;
  left: 20px;

  font-size: 68px;
  font-weight: 800;
  line-height: 88px;
  text-align: left;
  width: 501px;
}

@media (max-width: 1280px) {
  .content {
    top: 20px; /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: auto;
    font-size: 36px; /* Adjust the font size for smaller screens */
    line-height: 48px; /* Adjust the line height for smaller screens */
  }

  .petImg {
    top: 50px;
    right: 50%;
    transform: translateX(50%);
  }
}

@media (max-width: 768px) {
  .content {
    padding: 0 20px;
    text-align: left;
    width: 100%;
    font-size: 32px; /* Change font size to 32px for screens smaller than 768px */
    line-height: 40px; /* Adjust the line height for smaller screens */
  }
  .petImg {
    top: 70px;
  }
}
