/* Modal.module.css */

.backdrop {
  background: rgba(97, 97, 97, 0.6);
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overscroll-behavior: contain;
}

.modalStyled {
  /* text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  flex-wrap: wrap; */
  background-color: #ffffff;
  width: 280px;
  /* margin: 100px auto; */
  border-radius: 20px;
  /* padding: 12px 12px 60px 12px; */

  @media screen and (min-width: 768px) {
    /* width: var(--spacing-135);
    min-height: var(--spacing-145);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 608px;
    /* margin: 300px auto; */
    /* padding: 108px 155px; */
    border-radius: 40px;
    flex-direction: column;
  }
  @media screen and (min-width: 1280px) {
    /* margin-top: 112px; */
  }
}

.closeModalButton {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;
  }
}

.closeModalIcon {
  width: 24px;
  height: 24px;
}

.modalTitle {
  font-size: 24px;
  margin-bottom: 44px;
  margin-top: 77px;
  font-weight: 500;
  letter-spacing: 0.96px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    letter-spacing: 1.44px;
    margin-bottom: 48px;
    margin-top: 0px;
  }
}

/* .iconCloseModal {
  width: var(--spacing-7);
  height: var(--spacing-7);

  position: absolute;
  top: var(--spacing-5);
  right: var(--spacing-5);
}

.iconCloseModal:hover {
  cursor: pointer;
}

.exitModalBtn {
  width: var(--spacing-7.4);
  height: var(--spacing-7.4);
} */

/* .exitModalBtn:hover {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
  } */
