.cardList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .cardList {
    gap: 32px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1280px) {
  .cardList {
    gap: 16px;
  }
}

.friendWrap {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 768px) {
  .friendWrap {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .friendWrap {
    padding-left: 16px;
    padding-right: 16px;
  }
}