@media screen and (min-width: 1280px) {
  section {
    display: flex;
    // margin-top: 64px;
    padding-top: 128px;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
