html {
    scroll-behavior: smooth;
}



* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: none;
}

button,
input {
    background-color: inherit;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.no-scroll {
    overflow: hidden;
}