.modalPetCardDetailsWrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 32px;
    padding-left: 20px;
  }
}

.imageWrapper {
  display: block;
  position: relative;
  margin-bottom: 12px;
}

.petImage {
  border-radius: 0px 0px 40px 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    margin-right: 24px;
    width: 262px;
    height: 298px;
  }
}

.category {
  font-size: 14px;
font-weight: 500;
  background-color: #cce4fb;
  padding: 11px 22px 11px 12px;
  border-radius: 0 16px 16px 0;
  position: absolute;
  top: 16px;
  left: 8px;
  @media screen and (min-width: 768px) {
    left: 0;
  }
}

.modalTitle {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin-bottom: 20px;
  max-width: 198px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    letter-spacing: -0.28px;
    margin-bottom: 20px;
    margin-top: 0px;
    width: 321px;
  }
}

.normalCell {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  padding-bottom: 11px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.boldCell {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    padding-right: 51px;
    font-size: 16px;
  }
}

.commentsSection {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    padding-left: 20px;
    font-size: 16px;
  }
}

.modalButtonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 16px;
  margin-top: 12px;
  @media screen and (min-width: 768px) {
    padding-bottom: 24px;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 19px;
    margin-top: 70px;
    gap: 17px;
  }
}

.modalButtonsWrapper button {
  width: 256px;
  height: 40px;
  @media screen and (min-width: 768px) {
    width: 129px;
  }
}
