@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap');
@import './modules/shared/styles/base.css';
@import './modules/shared/styles/media.scss';
body {
  font-family: 'Manrope';
}

.container {
  padding: 20px;
  background: #fef9f9;
}
.active {
  color: #ffc107;
}
