@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@500;600;700&display=swap');
@import './modules/shared/styles/base.css';
@import './modules/shared/styles/media.scss';

body {
  font-family: 'Manrope';
  background: #fef9f9;
}

.container {
  padding: 20px;
  /* background: #fef9f9; */
}

.active {
  color: #ffc107;
}

body {
  background-image: url(./images/background/mob/bg-mob-1x.webp);
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  body {
    background-image: url(./images/background/mob/bg-mob-2x.webp);
  }
}

@media screen and (min-width: 767.98px) {
  body {
    background-image: url(./images/background/tablet/bg-tablet-1x.webp);
  }
}

@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  body {
    background-image: url(./images/background/tablet/bg-tablet-2x.webp);
  }
}

@media screen and (min-width: 1279.98px) {
  body {
    background-image: url(./images/background/desctop/bg-desctop-1x.webp);
  }
}

@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  body {
    background-image: url(./images/background/desctop/bg-desctop-2x.webp);
  }
}