.container {
  margin: 12px;
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  max-height: 90px;
  @media screen and (max-width: 768px) {
    max-height: 120px;
  }
}
.filterBtnWrapper {
  display: flex;
  gap: 12px;
  @media screen and (max-width: 1280px) {
    justify-content: flex-end;
  }
}
.filtenWrapperBox {
  width: 152px;
  @media screen and (min-width: 768px) {
  }
}
.rightSideFilter {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  @media screen and (min-width: 1280px) {
    flex-direction: row-reverse;
  }
}
.filterComponentList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 4px;
  @media screen and (max-width: 1280px) {
    max-width: 400px;
    justify-content: flex-end;
  }
  @media screen and (max-width: 768px) {
    max-width: 500px;
  }
}

/* Styles for screens from 1280px and above */
@media screen and (min-width: 1280px) {
  .container {
    margin: 20px;
  }
}
