* {
  outline: 1px dashed red;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // width: 395px;
  // height: 520px;
  flex-shrink: 0;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  min-width: 280px;

  margin-top: 18px;
  // padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 8px;
  padding-right: 8px;

  border-radius: 40px;
  background: var(--, #fff);
  box-shadow: 3px 8px 14px 0px rgba(136, 198, 253, 0.19);
}

.personalPhoto {
  width: 182px;
  height: 182px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  //   margin-top: 20px;
}

.personalPhotoEdit {
  width: 24px;
  height: 24px;
  //   margin-top: 18px;
  //   margin-right: 18px;
  position: absolute;
  right: 18px;
  top: 18px;
}

.petsCard {
  // position: relative;

  //   width: 100%;
  // height: 520px;
  flex-shrink: 0;

  margin-top: 24px;
  display: flex;
  flex-direction: column;
  // flex-wrap: nowrap;
  // border-radius: 40px;
  // background: var(--, #fff);
  // box-shadow: 3px 8px 14px 0px rgba(136, 198, 253, 0.19);
}

.button {
  display: inline-block;
  min-width: 248px;

  height: 38px;
  text-align: center;
  color: white;
  border: 1px solid #54adff;
  border-radius: 40px;
  background-color: #54adff;
  margin-left: auto;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
  // margin-right: auto;

  font-size: 14px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 100%;
}
.input {
  border-radius: 20px;
  border: 1px solid #54adff;
  margin-bottom: 8px;
  font-size: 12px;
  padding: 4px 12px;
  width: 190px;
  margin-left: auto;
  // &::placeholder {
  //   color: grey;
  //   opacity: 0.5;
  // }
}

.input:invalid {
  border-color: red;
}

.logout {
  display: flex;
  width: 24px;
  height: 24px;

  // padding-left: 16px;
  // margin-left: auto;
}
.logoutImg {
  width: 24px;
  height: 24px;

  margin-right: 12px;
  // padding-left: 16px;
  // margin-left: auto;
}

.logoutblock {
  display: flex;
  align-items: center;
  color: #888;
}

.editPhoto {
  // margin-bottom: 20px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.editPhotoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  // margin-bottom: 63px;
  width: 182px;
  height: 182px;
  border-radius: 40px;
}
.confirmPhoto {
  display: none;

  padding-top: 14px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  vertical-align: baseline;
  align-items: center;
}

.costilDisplay {
  display: flex;
}

.confirmPhoto2 {
  display: flex;

  padding-top: 15px;
  padding-bottom: 26px;
}

.fileField {
  // display: none;
  position: absolute;
  opacity: 0;
  width: 10px;
  height: 10px;
}

.editPhotoLabel {
  display: flex;
  align-items: center;
  & span {
    font-size: 12px;
    text-align: center;
    // display: table-cell;
    // vertical-align: middle;
    line-height: 10px;
  }
}

.photoInvalid {
  // border-color: red;
  border: 2px solid red;
}
.inputLabelRoot {
  // transform: translate(0px, 0px) scale(1);
  // top: 14px;
  border-radius: 20px;
}

.userFields {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-bottom: 8px;
  margin-top: 59px;
  margin-bottom: 25px;
}
.costil {
  margin-top: 0px;
}

.notActiveBtn {
  cursor: not-allowed;
  background-color: gray;
}

.myPets {
  display: flex;
  justify-content: space-between;
  max-width: 821px;
}

.petsDelBtn {
  position: absolute;
  // width: 24px;
  // height: 24px;
  right: 0px;
  top: 0px;
}
.petsDelBtnSVG {
  width: 24px;
  height: 24px;
  // position: absolute;
  stroke: #54adff;
}

.petsCardList {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 24px;
  flex-wrap: nowrap;
}

.petsListItem {
  display: flex;
  position: relative;
  width: 100%;
  // padding: 20px;
  flex-wrap: wrap;

  border-radius: 40px;
  background: var(--, #fff);

  box-shadow: 3px 8px 14px 0px rgba(136, 198, 253, 0.19);
}

.petsContainer {
  // max-width: 821px;
  // margin-left: 32px;
  margin-top: 46px;
}
.petsInfoBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  // margin-left: 32px;
  position: relative;
  width: 100%;
}

.petsInfo {
  display: flex;
  align-items: baseline;
  color: var(--, #111);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.64px;
  & div {
    margin-left: 4px;
    color: var(--, #111);
    font-family: Manrope;
    font-size: 16px;
    // font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.64px;
  }
}

.petsImg {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  min-width: 240px;
}

.spyIMG {
  margin: 50px 150px 20px;

  & p {
    width: 300px;
    margin: 0px auto 130px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .petsCardList {
    padding-left: 20px;
  }
  .petsCard {
    margin-top: 20px;
    padding-top: 20px;
  }
  .form {
    flex-direction: row-reverse;
    gap: 40px;
    align-items: flex-start;
  }
  .editPhotoBlock {
    width: 182px;
    height: 182px;
  }
  img {
    max-inline-size: none;
  }
  .userFields {
    margin-top: 0;
  }
  .card {
    max-width: 704px;
  }
  .petsListItem {
    flex-wrap: nowrap;
    gap: 20px;
  }
  .petsImg {
    min-width: 128px;
  }
  .petsListItem {
    max-width: 703px;
    margin-left: auto;
    margin-right: auto;
  }
  .petsDelBtn {
    top: 20px;
    right: 20px;
  }
  .petsInfoBlock {
    gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .petsCard {
    width: 821px;
  }
  .petsListItem {
    flex-wrap: nowrap;
    gap: 20px;
  }
  .petsImg {
    border-radius: 40px;
    min-width: 161px;
    width: 161px;
    height: 161px;
  }
  .petsDelBtn {
    top: 20px;
    right: 20px;
  }
  .petsInfoBlock {
    gap: 20px;
  }
  .label {
    font-size: 16px;
  }

  .input {
    width: 255px;
  }
  .button {
    width: 255px;
  }
  .userFields {
    gap: 8px;
  }
  .card {
    min-width: 395px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .petsContainer {
    margin-top: 0;
  }
  .personalPhotoEdit {
    top: 20px;
    right: 20px;
  }
}
