.wrapperForm {
  display: flex;
  margin-top: 16px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 45px;
  }

  @media screen and (min-width: 1280px) {
    gap: 96px;
  }
}

.SexText {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #111111;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.sexOption {
  display: flex;
  gap: 23px;
  margin-top: 8px;
}

.labelInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wrapperFormSellInputs {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sexElement {
  background-color: inherit;
  border: none;
  cursor: pointer;
  width: 92px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
}

.sexElement img {
  width: 10px;
  height: 18px;
}

.sexElementActive {
  background-color: inherit;
  border: none;
  cursor: pointer;
  width: 92px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #54adff;
}

.WrapperLabelInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.LabelStep {
  color: #111111;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.Input {
  border-radius: 40px;
  box-shadow: none;
  outline: none;
  font-size: 14px;
  padding: 9px 16px;
  border: 1px solid #54adff;

  @media screen and (min-width: 768px) {
    max-width: 395px;
    font-size: 16px;
    padding: 15px;
  }
}

/* .Input:focus {
  border-color: #54adff;
} */

.errorComent,
.errorComentSell {
  position: relative;
  top: 0;
  right: 0;
  color: #f43f5e;
  font-size: 12px;
  line-height: 16px;

  /* width: 64px; */
  @media screen and (min-width: 768px) {
    right: -32px;
  }

  @media screen and (min-width: 1280px) {
    top: 0;
    right: 0;
  }
}

.comments {
  position: relative;
  color: #f43f5e;
  font-size: 12px;
  line-height: 16px;
}

.ErrorText {
  position: absolute;
  bottom: -25%;
  right: 67%;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #f43f5e;
}

.ErrorTextLow {
  position: relative;
  bottom: 0;
  right: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #f43f5e;
}

.wrapperPoto {
  display: flex;
  gap: 14px;
  margin-top: 16px;
  align-items: center;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }

  @media screen and (min-width: 1280px) {
    gap: 33px;
  }
}

.wrapperAddPhoto {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  gap: 12px;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    margin-top: 40px;
  }
}

.labelAddText {
  /* margin-top: 34px; */
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #111111;
  width: 81px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
    width: 140px;
  }

  /* @media screen and (min-width:768px) {
      font-size: 20px;
      line-height: 26px;
      width: 120px;
    } */
}

.labelAdd {
  width: 112px;
  height: 112px;
  background-color: #cce4fb;
  border-radius: 20px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 182px;
    height: 182px;
    border-radius: 40px;
  }
}

.previewPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.iconAdd {
  width: 30px;
  margin: 40px auto;

  @media screen and (min-width: 768px) {
    width: 48px;
    margin: 65px auto;
  }
}

.wrapperTextareaOne {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
  margin-bottom: 29px;
}

.wrapperTextarea {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 53px;
  }
}

.textareaText {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #111111;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.textareaAddOne,
.textareaAdd {
  height: 92px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.5;
  padding: 12px 16px;
  border: 1px solid #54adff;
  border-radius: 20px;
  resize: none;
  outline: none;

  @media screen and (min-width: 768px) {
    width: 393px;
    /* height: 79px; */
    font-size: 16px;
    padding: 15px;
  }
}

.textareaAdd {
  @media screen and (min-width: 768px) {
    width: 395px;
    height: 192px;
  }
}

/* .LinkAddPEt {
  margin-top: 24px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  @media screen and(min-width:768px) {
    margin-top: 44px;

    justify-content: space-around;
    align-items: center;
    gap: 38px;
  }

} */

/* .LinkAddPEtLitkCancel {
  border-radius: 40px;
  color: #54adff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  padding: 8px 86px;
  cursor: pointer;
  border: none;
  background-color: inherit;
} */

.ButtonNext {
  background-color: #54adff;
  border-radius: 40px;
  padding: 8px 86px;
  color: #fef9f9;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  border: none;
  cursor: pointer;
}

.ButtonEl {
  display: flex;
  gap: 11.43px;
}

.LinkAddPEt {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}

.LinkAddPEtLitkCancel {
  border-radius: 40px;
  color: #54adff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  cursor: pointer;
  border: none;
  background-color: inherit;
}

@media screen and (max-width: 767px) {
  .LinkAddPEt {
    flex-direction: column-reverse;
    margin-top: 24px;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  .LinkAddPEtLitkCancel {
    padding: 8px 86px;
  }

  .labelAddText {
    margin-top: 34px;
  }

  .errorComent,
  .errorComentSell {
    width: 64px;
  }

  .errorComentSell {
    margin-top: 34px;
  }

  .wrapperFormSellInputs {
    margin-top: 16px;
  }
}
